<div class="col-md-6 user-container">
  <h2 style="margin: auto"> Noticias</h2>
  <button class="btn btn-danger" style="width:100px" (click)="addUser()">Crear Nueva Noticia</button>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Id</th>
      <th>Nombre</th>
      <th>Descripcion</th> 
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let news of noticias">
      <td>{{news.uid}}</td>
      <td>{{news.nombre}}</td>
      <td>{{news.descripcion}}</td>            
    </tr>
    </tbody>
  </table>
</div>